.container {
	width: 60%;
	margin-left: auto;
    margin-right: auto;
}

.folio-category {
	display: table;
}

.folio-item {
	width: 30%;
	float: left;
	margin-right: 5%;
	display: inline;
}

.folio-item:nth-child(3n) {
	float: right;
	margin-right: 0;
}

.folio-item:nth-child(3n+1) {
	clear: both;
}

.folio-item img {
	border: 2px solid gray;
	max-width: 100%;
	
	opacity: 1;
	transition: 0.3s ease;
}

.folio-item:hover img {
	opacity: 0;
}

.item-title {
	
}

.item-link {
	color: blue;
}